@page
@model StudentManager.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Student Details";
}

<h1 class="sub-page-heading">Student Details</h1>

<div>
    <hr />
    <dl class="row mt-5">
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Student.Name) *@
            <H>Sstudent Name</H>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Student.City) *@
            <H>City</H>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.City)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Student.Course) *@
            <H>Course</H>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Course)
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a class="btn btn-warning detail-btn" asp-page="./Edit" asp-route-id="@Model.Student.Id">Edit</a>
</div>

<div class="mt-3">
    <a asp-page="Index">↤ Back </a>
</div>